# SDM ETL code

Importeer pandas voor DataFrames en pyodbc voor database-connecties:

In [19]:
import sqlite3
import pandas as pd
import pyodbc
import numpy as np
import re


aenc_conn = sqlite3.connect("../../../Data/Raw/Sqlite/aenc.sqlite")
adventureworks_conn = sqlite3.connect("../../../Data/Raw/Sqlite/AdventureWorks.sqlite")

Database Connectie:

In [3]:
DB_SDM = {"servername": r"143.177.235.181", "database": "SDM_DEDS_P1", "username": "sa", "password": "Str0ngP@ssword"}
DB_NorthWind = {"servername": r"143.177.235.181", "database": "NorthWind", "username": "sa", "password": "Str0ngP@ssword"}
export_conn = pyodbc.connect(
    f"DRIVER={{ODBC Driver 18 for SQL Server}};"
    f"SERVER={DB_SDM['servername']};"
    f"DATABASE={DB_SDM['database']};"
    f"UID={DB_SDM['username']};"
    f"PWD={DB_SDM['password']};"
    f"Encrypt=yes;TrustServerCertificate=yes;"
)

NorthWind_conn = pyodbc.connect(
    f"DRIVER={{ODBC Driver 18 for SQL Server}};"
    f"SERVER={DB_NorthWind['servername']};"
    f"DATABASE={DB_NorthWind['database']};"
    f"UID={DB_NorthWind['username']};"
    f"PWD={DB_NorthWind['password']};"
    f"Encrypt=yes;TrustServerCertificate=yes;"
)

DataFrames maken voor tables:

In [23]:
def create_dataframes_sql(connection, db_type):
    dictionary : dict = {}
    query : str = ""
    key : str = ""

    if db_type == "sqlite":
        query = "SELECT name FROM sqlite_master WHERE type='table';"
        key = "name"
    elif db_type == "ssms":
        query = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE';"
        key = "TABLE_NAME"

    table_names = pd.read_sql(query, connection)

    for table in table_names[key].tolist():
        try:
            dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
        except Exception as e:
            print(f"Error reading {table}: {e}")
            continue

    return dictionary


aenc = create_dataframes_sql(aenc_conn, "sqlite")
adventureworks = create_dataframes_sql(adventureworks_conn, "sqlite")
northwind = create_dataframes_sql(NorthWind_conn, "ssms")

#Errors en warnings zijn niet erg hier als het totaal 1 error en 4 UserWarnings zijn.

Error reading sysdiagrams: Could not decode to UTF-8 column 'definition' with text '������'

C:\Users\saadz\AppData\Local\Temp\ipykernel_23280\1853655394.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  table_names = pd.read_sql(query, connection)
C:\Users\saadz\AppData\Local\Temp\ipykernel_23280\1853655394.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\saadz\AppData\Local\Temp\ipykernel_23280\1853655394.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\saadz\AppData\Local\Temp\ipykernel_23280\1853655394.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)

Dictionaries met DataFrames mergen naar één Dictionary:

In [21]:
sdm = aenc | adventureworks | northwind #Alle drie mergen in één Dictionary met alle DataFrames

sdm['Products'] = sdm['Products'].rename(columns={
    "ProductID": "NWProductID",
    "ProductName": "Name", 
    "UnitPrice": "ListPrice"
})

sdm['Product'] = sdm['Product'].rename(columns={
    "id": "ProductID",
    "name": "Name",
    "prod_size": "Size",
    "color": "Color",
    "quantity": "SafetyStockLevel",
    "unit_price": "ListPrice"
})
sdm['Production_Product'] = pd.concat([sdm['Production_Product'], sdm['Products']], ignore_index=True)
sdm['Production_Product'] = pd.concat([sdm['Production_Product'], sdm['Product']], ignore_index=True)
sdm['Production_Product']['Weight'] = sdm['Production_Product']['Weight'].replace('', np.nan)
sdm['Production_Product']['Weight'] = sdm['Production_Product']['Weight'].astype(float)
del sdm['Product']
del sdm['Products']

sdm['Order_Details'] = sdm['Order_Details'].rename(columns={
    "OrderID": "SalesOrderID",
    "Discount": "UnitPriceDiscount",
    "Quantity": "quantity"
})
sdm['Sales_Order_Item'] = sdm['Sales_Order_Item'].rename(columns={
    "id": "SalesOrderID",
    "prod_id": "ProductID",
})
sdm['Sales_SalesOrderDetail'] = pd.concat([sdm['Sales_SalesOrderDetail'], sdm['Sales_Order_Item']], ignore_index=True)
sdm['Sales_SalesOrderDetail'] = pd.concat([sdm['Sales_SalesOrderDetail'], sdm['Order_Details']], ignore_index=True)
del sdm['Order_Details']
del sdm['Sales_Order_Item']


sdm['Customer'] = sdm['Customer'].rename(columns={"state": "state_id"})
sdm['Customers'] = sdm['Customers'].rename(columns={
    "CustomerID": "id",
    "CompanyName": "company_name",
    "Address": "address",
    "City": "city",
    "PostalCode": "zip",
    "Phone": "phone"
})
sdm['Customer'] = pd.concat([sdm['Customer'], sdm['Customers']], ignore_index=True)
del sdm['Customers']

sdm['Sales_Order'] = sdm['Sales_Order'].rename(columns={
    "id": "SalesOrderID",
    "cust_id": "CustomerID",
    "order_date": "OrderDate",
    "sales_rep": "SalesPersonID",
    "Region": "ShipRegion"
})
sdm['Orders'] = sdm['Orders'].rename(columns={
    "OrderID": "SalesOrderID",
    "order_date": "OrderDate",
    "EmployeeID": "SalesPersonID",
    "RequiredDate": "DueDate",
    "ShippedDate": "ShipDate"
})

sdm['Sales_SalesOrderHeader'] = sdm['Sales_SalesOrderHeader'].rename(columns={"CustomerID": "SalesCustomerID"})
sdm['Sales_SalesOrderHeader'] = pd.concat([sdm['Sales_SalesOrderHeader'], sdm['Sales_Order']], ignore_index=True)
sdm['Sales_SalesOrderHeader'] = pd.concat([sdm['Sales_SalesOrderHeader'], sdm['Orders']], ignore_index=True)
del sdm['Sales_Order']
del sdm['Orders']

sdm['Employees'] = sdm['Employees'].rename(columns={
    "EmployeeID": "emp_id",
    "LastName": "emp_lname",
    "FirstName": "emp_fname",
    "Address": "street",
    "City": "city",
    "Region": "state",
    "PostalCode": "zip_code",
    "HomePhone": "phone",
    "BirthDate": "birth_date",
    "HireDate": "start_date"
})
sdm['Employee'] = pd.concat([sdm['Employee'], sdm['Employees']], ignore_index=True)
del sdm['Employees']

sdm['Department'] = sdm['Department'].rename(columns={
    "dept_id": "DepartmentID",
    "dept_name": "Name",
})
sdm['HumanResources_Department'] = pd.concat([sdm['HumanResources_Department'], sdm['Department']], ignore_index=True)
sdm['Department'] = sdm['HumanResources_Department']
del sdm['HumanResources_Department']

sdm['Purchasing_PurchaseOrderDetail']['ReceivedQty'] = sdm['Purchasing_PurchaseOrderDetail']['ReceivedQty'].astype(float)
sdm['Purchasing_PurchaseOrderDetail']['RejectedQty'] = sdm['Purchasing_PurchaseOrderDetail']['RejectedQty'].astype(float)
sdm['Purchasing_PurchaseOrderDetail']['StockedQty'] = sdm['Purchasing_PurchaseOrderDetail']['StockedQty'].astype(float)

dict_order = [
    "Categories"
    "State",
    "Region",
    "Department",
    "Employee",
    "Bonus",
    "Territories",
    "EmployeeTerritories",
    "Customer",
    "CustomerDemographics",
    "CustomerCustomerDemo",
    "Shippers",
    "Sales_SalesTerritory",
    "Person_Person",
    "Person_Address",
    "HumanResources_Employee",
    "Sales_Store",
    "Sales_Customer",
    "Production_ProductCategory",
    "Suppliers",
    "Production_Product",
    "Production_BillOfMaterials",
    "Purchasing_Vendor",
    "Purchasing_PurchaseOrderHeader",
    "Purchasing_PurchaseOrderDetail",
    "Sales_SalesOrderHeader",
    "Sales_SalesOrderDetail"

]               #Hierin komt dictionary order te staan.
                #Dit moet omdat de volgorde van welke tables worden gestuurd naar database belangrijk is.

sdm = {k: sdm[k] for k in dict_order if k in sdm} #Verandert de volgorde van sdm-Dictionary.

print(sdm['Sales_SalesOrderHeader'][sdm['Sales_SalesOrderHeader']['SalesPersonID'] == 290])

Empty DataFrame
Columns: [SalesOrderID, RevisionNumber, OrderDate, DueDate, ShipDate, Status, OnlineOrderFlag, SalesOrderNumber, PurchaseOrderNumber, AccountNumber, SalesCustomerID, SalesPersonID, TerritoryID, BillToAddressID, ShipToAddressID, ShipMethodID, CreditCardID, CreditCardApprovalCode, CurrencyRateID, SubTotal, TaxAmt, Freight, TotalDue, Comment, rowguid, ModifiedDate, CustomerID, region, ShipVia, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry]
Index: []

[0 rows x 35 columns]

SDM in SSMS vullen:

In [18]:
import pandas as pd
import pyodbc

def format_value(value, column_name, table_name):
    reserved_keywords = ['order', 'select', 'from', 'insert', 'update', 'delete', 'where', 'join', 'into', 'group', 'name', 'state']

    if column_name.lower() in reserved_keywords:
        column_name = f"[{column_name}]"

    if pd.isna(value):
        return "NULL"

    if isinstance(value, bool):
        return "1" if value else "0"

    if column_name.lower() in ['phone', 'zip_code']:
        return f"'{str(value)}'"
    
    if column_name.lower() == "customerid" and table_name.lower() != "Sales_Customer":
        return f"'{str(value)}'"
    
    elif isinstance(value, str):
        if value == "":
            return "NULL"
        return f"'{value.replace("'", "''")}'"
    
    elif isinstance(value, pd.Timestamp):
        return f"'{value.strftime('%Y-%m-%d')}'"
    
    elif isinstance(value, bytes):
        hex_value = value.hex()
        return f"0x{hex_value}"
    
    elif isinstance(value, (int, float)):
        return str(value)
    
    return f"'{str(value)}'"

def format_table_name(table_name):
    reserved_keywords = ['order', 'select', 'from', 'insert', 'update', 'delete', 'where', 'join', 'into', 'state']

    if table_name.lower() in reserved_keywords:
        return f"[{table_name}]"
    
    return table_name 

export_cursor = export_conn.cursor()

for table_name, df in sdm.items():

    error_count = 0
    total_count = 0

    try:
        print(f"Loading table {table_name}:", end=" ")

        formatted_table_name = format_table_name(table_name)

        for index, row in df.iterrows():
            total_count += 1

            columns = df.columns.tolist()

            if 'rowguid' in columns:
                columns.remove('rowguid')

            formatted_columns = [
                f"[{col}]" if col.lower() in ['order', 'select', 'from', 'insert', 'update', 'delete', 'where', 'join', 'into', 'group', 'name'] else col
                for col in columns
            ]

            values = []
            for col in columns:
                value = row[col]
                values.append(format_value(value, col, table_name))

            column_names = ", ".join(formatted_columns)
            value_string = ", ".join(values)

            query = f"INSERT INTO {formatted_table_name} ({column_names}) VALUES ({value_string})"
            export_cursor.execute(query)
            
    
        export_conn.commit()
        

        passed_count = total_count - error_count

        if error_count == 0:
            print(f"100% ✓")
        else:
            print(f"{passed_count}/{total_count} rows ✓")

    except pyodbc.Error as e:
        print("✗ ERROR")
        print(f"{query}")
        print(f"Error message: {e}")
        print("-" * 80)

export_cursor.close()

Loading table Region: ✗ ERROR
INSERT INTO Region (RegionID, RegionDescription) VALUES (1, 'Eastern                                           ')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Region__ACD844439F8F6593'. Cannot insert duplicate key in object 'dbo.Region'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Department: ✗ ERROR
INSERT INTO Department (DepartmentID, [Name], GroupName, ModifiedDate, dept_head_id) VALUES ('1', 'Engineering', 'Research and Development', '04/30/18 00:00:00', NULL)
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Departme__B2079BCD05301B76'. Cannot insert duplicate key in object 'dbo.Department'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Employee: ✗ ERROR
INSERT INTO Employee (emp_id, manager_id, emp_fname, emp_lname, dept_id, street, city, state, zip_code, phone, status, ss_number, salary, start_date, birth_date, bene_health_ins, bene_life_ins, bene_day_care, sex, Title, TitleOfCourtesy, Country, Extension, Photo, Notes, ReportsTo, PhotoPath) VALUES (1013, 703.0, 'Joseph', 'Barker', 500.0, '58 West Drive', 'Bedford', 'MA', '1730', '6175558021', 'A', 23470756.0, 27290.0, '10-Sep-2019', '14-Feb-1996', 'N', 'Y', 'N', 'M', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8617C0CAD39'. Cannot insert duplicate key in object 'dbo.Employee'. The duplicate key value is (1013). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Bonus: 100% ✓
Loading table Territories: ✗ ERROR
INSERT INTO Territories (TerritoryID, TerritoryDescription, RegionID) VALUES ('01581', 'Westboro                                          ', 1)
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Territor__2BECD2E45CB90039'. Cannot insert duplicate key in object 'dbo.Territories'. The duplicate key value is (1581). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table EmployeeTerritories: ✗ ERROR
INSERT INTO EmployeeTerritories (EmployeeID, TerritoryID) VALUES (1, '06897')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__286E82DF11EA7F38'. Cannot insert duplicate key in object 'dbo.EmployeeTerritories'. The duplicate key value is (1, 6897). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Customer: ✗ ERROR
INSERT INTO Customer (id, fname, lname, address, city, state_id, zip, phone, company_name, ContactName, ContactTitle, Region, Country, Fax) VALUES (101, 'Michaels', 'Devlin', '3114 Pioneer Avenue', 'Rutherford', 'NJ', '07070', '2015558966', 'The Power Group', NULL, NULL, NULL, NULL, NULL)
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83FA9C0CB69'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (101). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table CustomerDemographics: 100% ✓
Loading table CustomerCustomerDemo: 100% ✓
Loading table Shippers: ✗ ERROR
INSERT INTO Shippers (ShipperID, CompanyName, Phone) VALUES (1, 'Speedy Express', '(503) 555-9831')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Shippers__1F8AFFB98676510D'. Cannot insert duplicate key in object 'dbo.Shippers'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Sales_SalesTerritory: ✗ ERROR
INSERT INTO Sales_SalesTerritory (TerritoryID, [Name], CountryRegionCode, [Group], SalesYTD, SalesLastYear, CostYTD, CostLastYear, ModifiedDate) VALUES ('1', 'Northwest', 'US', 'North America', '7887186.7882', '3298694.4938', '0.0000', '0.0000', '04/30/08 00:00:00')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Sa__2BECD2E43F591E7F'. Cannot insert duplicate key in object 'dbo.Sales_SalesTerritory'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Person_Person: ✗ ERROR
INSERT INTO Person_Person (BusinessEntityID, PersonType, NameStyle, Title, FirstName, MiddleName, LastName, Suffix, EmailPromotion, ModifiedDate) VALUES ('1', 'EM', '0', NULL, 'Ken', 'J', 'Sánchez', NULL, '0', '01/07/19 00:00:00')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Person_P__8898433744269538'. Cannot insert duplicate key in object 'dbo.Person_Person'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Person_Address: ✗ ERROR
INSERT INTO Person_Address (AddressID, AddressLine1, AddressLine2, City, StateProvinceID, PostalCode, SpatialLocation, ModifiedDate, BusinessEntityID) VALUES ('1', '1970 Napa Ct.', NULL, 'Bothell', '79', '98011', NULL, '12/04/17 00:00:00', '12')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Person_A__091C2A1B76F4F747'. Cannot insert duplicate key in object 'dbo.Person_Address'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table HumanResources_Employee: ✗ ERROR
INSERT INTO HumanResources_Employee (BusinessEntityID, NationalIDNumber, LoginID, OrganizationNode, OrganizationLevel, JobTitle, BirthDate, MaritalStatus, Gender, HireDate, SalariedFlag, VacationHours, SickLeaveHours, CurrentFlag, ModifiedDate, DepartmentID) VALUES ('1', '295847284', 'adventure-works\ken0', NULL, NULL, 'Chief Executive Officer', '1979-01-29', 'S', 'M', '2019-01-14', '-1', '99', '69', '-1', '06/30/24 00:00:00', '16')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__HumanRes__88984337493609C1'. Cannot insert duplicate key in object 'dbo.HumanResources_Employee'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Sales_Store: ✗ ERROR
INSERT INTO Sales_Store (BusinessEntityID, [Name], SalesPersonID, ModifiedDate) VALUES ('292', 'Next-Door Bike Store', '279', '09/12/14 11:15:07')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_St__88984337DBFA4CA5'. Cannot insert duplicate key in object 'dbo.Sales_Store'. The duplicate key value is (292). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Sales_Customer: ✗ ERROR
INSERT INTO Sales_Customer (CustomerID, PersonID, StoreID, TerritoryID, AccountNumber, ModifiedDate) VALUES ('1', NULL, '934', '1', 'AW00000001', '09/12/24 11:15:07')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Cu__A4AE64B8377D9AE2'. Cannot insert duplicate key in object 'dbo.Sales_Customer'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Production_ProductCategory: ✗ ERROR
INSERT INTO Production_ProductCategory (ProductCategoryID, [Name], ModifiedDate) VALUES ('1', 'Bikes', '04/30/18 00:00:00')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Producti__3224ECEE3A2092D3'. Cannot insert duplicate key in object 'dbo.Production_ProductCategory'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Suppliers: ✗ ERROR
INSERT INTO Suppliers (SupplierID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax, HomePage) VALUES (1, 'Exotic Liquids', 'Charlotte Cooper', 'Purchasing Manager', '49 Gilbert St.', 'London', NULL, 'EC1 4SD', 'UK', '(171) 555-2222', NULL, NULL)
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Supplier__4BE66694B006607C'. Cannot insert duplicate key in object 'dbo.Suppliers'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Production_Product: ✗ ERROR
INSERT INTO Production_Product (ProductID, [Name], ProductNumber, MakeFlag, FinishedGoodsFlag, Color, SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, Size, SizeUnitMeasureCode, WeightUnitMeasureCode, Weight, DaysToManufacture, ProductLine, Class, Style, ProductSubcategoryID, ProductModelID, SellStartDate, SellEndDate, DiscontinuedDate, ModifiedDate, ProductCategoryID, NWProductID, SupplierID, CategoryID, QuantityPerUnit, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued, description, picture_name, Category) VALUES ('1', 'Adjustable Race', 'AR-5381', '0', '0', NULL, '1000', '750', '0.0000', '0.0000', NULL, NULL, NULL, NULL, '0', NULL, NULL, NULL, NULL, NULL, '04/30/18 00:00:00', NULL, NULL, '02/08/24 10:01:37', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Producti__B40CC6ED7CEB4A27'. Cannot insert duplicate key in object 'dbo.Production_Product'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Production_BillOfMaterials: ✗ ERROR
INSERT INTO Production_BillOfMaterials (BillOfMaterialsID, ProductAssemblyID, ComponentID, StartDate, EndDate, UnitMeasureCode, BOMLevel, PerAssemblyQty, ModifiedDate) VALUES ('1', '807', '1', '03/04/20 00:00:00', NULL, 'EA ', '2', '1.00', '02/18/20 00:00:00')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Producti__0FDDB54F192CCA77'. Cannot insert duplicate key in object 'dbo.Production_BillOfMaterials'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Purchasing_Vendor: ✗ ERROR
INSERT INTO Purchasing_Vendor (BusinessEntityID, AccountNumber, [Name], CreditRating, PreferredVendorStatus, ActiveFlag, PurchasingWebServiceURL, ModifiedDate) VALUES ('1492', 'AUSTRALI0001', 'Australia Bike Retailer', '1', '-1', '-1', NULL, '12/23/21 00:00:00')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Purchasi__8898433755DB151B'. Cannot insert duplicate key in object 'dbo.Purchasing_Vendor'. The duplicate key value is (1492). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Purchasing_PurchaseOrderHeader: ✗ ERROR
INSERT INTO Purchasing_PurchaseOrderHeader (PurchaseOrderID, RevisionNumber, Status, EmployeeID, VendorID, ShipMethodID, OrderDate, ShipDate, SubTotal, TaxAmt, Freight, TotalDue, ModifiedDate) VALUES ('1', '4', '4', '258', '1580', '3', '04/16/21 00:00:00', '04/25/21 00:00:00', '201.0400', '16.0832', '5.0260', '222.1492', '04/25/21 00:00:00')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Purchasi__036BAC44A8568DBB'. Cannot insert duplicate key in object 'dbo.Purchasing_PurchaseOrderHeader'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Purchasing_PurchaseOrderDetail: ✗ ERROR
INSERT INTO Purchasing_PurchaseOrderDetail (PurchaseOrderID, PurchaseOrderDetailID, DueDate, OrderQty, ProductID, UnitPrice, LineTotal, ReceivedQty, RejectedQty, StockedQty, ModifiedDate) VALUES ('1', '1', '04/30/21 00:00:00', '4', '1', '50.2600', '201.0400', 3.0, 0.0, 3.0, '04/23/21 00:00:00')
Error message: ('23000', "[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Purchasi__5026B6F8263C4FA1'. Cannot insert duplicate key in object 'dbo.Purchasing_PurchaseOrderDetail'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)")
--------------------------------------------------------------------------------
Loading table Sales_SalesOrderHeader: ✗ ERROR
INSERT INTO Sales_SalesOrderHeader (SalesOrderID, RevisionNumber, OrderDate, DueDate, ShipDate, Status, OnlineOrderFlag, SalesOrderNumber, PurchaseOrderNumber, AccountNumber, SalesCustomerID, SalesPersonID, TerritoryID, BillToAddressID, ShipToAddressID, ShipMethodID, CreditCardID, CreditCardApprovalCode, CurrencyRateID, SubTotal, TaxAmt, Freight, TotalDue, Comment, ModifiedDate, CustomerID, region, ShipVia, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry) VALUES ('43659', '8', '05/31/21 00:00:00', '06/12/21 00:00:00', '06/07/21 00:00:00', '5', '0', 'SO43659', 'PO522145787', '10-4020-000676', '29825', '279', '5', '985', '985', '5', '16281', '105041Vi84182', NULL, '20565.6206', '1971.5149', '616.0984', '23153.2339', NULL, '06/07/21 00:00:00', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
Error message: ('23000', '[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The INSERT statement conflicted with the FOREIGN KEY constraint "FK__Sales_Sal__BillT__03F0984C". The conflict occurred in database "SDM_DEDS_P1", table "dbo.Person_Address", column \'AddressID\'. (547) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)')
--------------------------------------------------------------------------------
Loading table Sales_SalesOrderDetail: ✗ ERROR
INSERT INTO Sales_SalesOrderDetail (SalesOrderID, SalesOrderDetailID, CarrierTrackingNumber, OrderQty, ProductID, SpecialOfferID, UnitPrice, UnitPriceDiscount, LineTotal, ModifiedDate, line_id, quantity, ship_date) VALUES ('43659', '1', '4911-403C-98', '1', '776', '1', '2024.9940', '0.0000', '2024.994000', '05/31/21 00:00:00', NULL, NULL, NULL)
Error message: ('23000', '[23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The INSERT statement conflicted with the FOREIGN KEY constraint "FK__Sales_Sal__Sales__09A971A2". The conflict occurred in database "SDM_DEDS_P1", table "dbo.Sales_SalesOrderHeader", column \'SalesOrderID\'. (547) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The statement has been terminated. (3621)')
--------------------------------------------------------------------------------